body {
    color: teal;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid teal;
}

table {
    background-color: white;
}

.tag {
    background-color: rgb(255, 247, 211);
    text-align: center;
}
